<h1> All Restaurants </h1>

<div>
 <button type="button" class="btn btn-light">
    <%= link_to "Add a New Restaurant", new_restaurant_path  %>
 </button>
</div>

<div class = "row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-4 mb-5">
      <div class="card-trip">
        <img src=<%="https://source.unsplash.com/800x600/?restaurant/#{rand(50)}"%>>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
            <p><%= restaurant.address %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

